<div class="container login-container">
  <div class="row">
    <div class="offset-by-one-third column one-third column">
      <a class="button button-primary" href="/auth/facebook">Login with Facebook to play the quiz</a>
    </div>
  </div>

  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>

  <div class="row">
    <h5>Hi there, stranger. Playing the quiz requires for you to be logged in.
      Please click on the button above to authenticate and proceed.</h5>
  </div>
</div>


