<p> There are total of {{count}} words in the database.</p>

<button [disabled]="buttonState()" (click)="startGame()" *ngIf="!isStarted">START</button>
<button (click)="endGame()" *ngIf="isStarted">END</button>
<random-word (onGameOver)="onGameOver($event)" [word]="guessWord"></random-word>


<div *ngIf="settings">
  {{settings.questionsNumber}} questions in the game.
</div>

<h3 *ngIf="countDown">Game starting in {{countDown}}</h3>

<p *ngIf="correctAnswer">Correct answer: {{correctAnswer}}</p>