<form id='addWord' action="/word/create" method="post">
  Word: <input type="text" name="word"><br>

  Translation 1: <input type="text" name="translations"> <input type="radio" name="isAnswer" value="0"><br>
  Translation 2: <input type="text" name="translations"> <input type="radio" name="isAnswer" value="1"> <br>
  Translation 3: <input type="text" name="translations"> <input type="radio" name="isAnswer" value="2"> <br>
  Translation 4: <input type="text" name="translations"> <input type="radio" name="isAnswer" value="3"><br>

  <button type="submit" value="Submit">Add word</button>
</form>

<br><br><br>
<form id="settings" action="/settings" method="post">
  Number of questions: <input type="number" min="3" max="50" name="questionsNumber"><br>

<br>
  Practice mode:<br>
  <input type="radio" name="practiceMode" value="true"> Enabled
  <input type="radio" name="practiceMode" value="false"> Disabled
<br><br>
  <button id="save">Save</button>
</form>
<br><br>
<a href="/">Back</a>

