<h1 id="randomEnglishWord"></h1>
<div id="possibleAnswers"></div>
<button onclick="writeWordAndAnswers()">Skip question</button>
<button onclick="gameOver()">Finish game</button>
<button onclick="admin()">Admin panel</button>
<button id="startGame" style="display: none;" onclick="startGame()">Start game</button>
<p id="result"></p>
<p id="gameOver"></p>
<div id="answerReaction" style="width: 20px; height: 20px;"></div>

<div class="info" id="questionsNumber">Number of questions: </div>
<div class="info" id="practiceMode">Practice mode: </div>
<div class="info" id="only_hard">Ask only hard words: </div>
<div class="info" id="totalQuestions">Total questions: </div>


<my-app></my-app>
