<div class="container">
  <div class="row">
    <div class="offset-by-eight columns">
      <% if (typeof data === 'undefined') { %>
      <p>Welcome! Please <a href="/login">log in</a>.</p>
      <% } else { %>
      <p>Hello, <%= data.name %>.</p>
      <% } %>
    </div>
  </div>
</div>


<script src="node_modules/es6-shim/es6-shim.min.js"></script>
<script src="node_modules/systemjs/dist/system-polyfills.js"></script>

<script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
<script src="node_modules/systemjs/dist/system.src.js"></script>
<script src="node_modules/rxjs/bundles/Rx.js"></script>
<script src="node_modules/angular2/bundles/angular2.dev.js"></script>
<script src="node_modules/angular2/bundles/http.js"></script>
<script src="node_modules/angular2/bundles/router.dev.js"></script>


<script>
  System.config({
    map: {
      rxjs: 'node_modules/rxjs' // added this map section
    },
    packages: {
      app: {
        format: 'register',
        defaultExtension: 'js'
      },
      'rxjs': {defaultExtension: 'js'} // and added this to packages
    }
  });
  System.import('/app/main')
    .then(null, console.error.bind(console));
</script>

<english-quiz></english-quiz>


