<script>
  window.Globals = {***REMOVED***
  window.Globals.name = '<%= me.name %>';
  window.Globals.locale = '<%= me.locale %>';
</script>


<div class="container">
  <app-english-quiz></app-english-quiz>
</div>