<script>
  window.Globals = {};
  window.Globals.name = '<%= me.name %>';
  window.Globals.locale = '<%= me.locale %>';
</script>

<div class="container">
  <english-quiz></english-quiz>
</div>

<!-- 2. Configure SystemJS -->
<script>
  System.import('app/main.js').catch(function(err){ console.error(err); });
</script>

