<div class="container">
  <div class="row">
    <div class="offset-by-eight columns">
      <% if (typeof data === 'undefined') { %>
      <p>Welcome! Please <a href="/login">log in</a>.</p>
      <% } else { %>
      <p>Hello, <%= data.name %>.</p>
      <% } %>
    </div>
  </div>
</div>

<!-- 2. Configure SystemJS -->
<script>
  System.import('app/main.js').catch(function(err){ console.error(err); });
</script>

<english-quiz></english-quiz>


