<form action="/word/create" method="post">
  Word: <input type="text" name="word"><br>

  Translation 1: <input type="text" name="translations"><br>
  Translation 2: <input type="text" name="translations"><br>
  Translation 3: <input type="text" name="translations"><br>
  Translation 4: <input type="text" name="translations"><br>



   <input type="radio" name="isAnswer" value="0"><br>
      <input type="radio" name="isAnswer" value="1"> <br>
      <input type="radio" name="isAnswer" value="2"> <br>
      <input type="radio" name="isAnswer" value="3">

  <button type="submit" value="Submit">Add word</button>
</form>

