<!DOCTYPE html>
<html>

<head>
    <base href="/">

    <title>English quiz</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->

    
</head>

<body>


    <%- body %>

 
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/loodash.js"></script>
        <script src="/js/dependencies/jquery.js"></script>

</body>

</html>