<div class="row">
  <div class="two columns">&nbsp;</div>
  <div class="four columns">
      <div class="game-link" [routerLink]="['/main']">
          <span>Play quiz</span>
      </div>
  </div>
  <div class="four columns">
       <div class="game-link" [routerLink]="['/longest-word']">
          <span>Longest word</span>
      </div>
  </div>
  <div class="two columns">&nbsp;</div>
</div>

<div class="row">
  <div class="two columns">&nbsp;</div>
  <div class="four columns">
      <div class="game-link">
          <span>CHILD WORDS</span>
      </div>
  </div>
</div>

<notification></notification>