/*LOGIN PAGE*/

.login-container {
  margin-top: 18rem;
}

.login-message{
  margin-top: 22rem;
}

/*GENERAL STYLES*/

.incorrect {
  color: darkred;
}

.correct {
  color: darkgreen;
}

.disabled {
  color: darkgray;
}
