<p>Your top scores:</p>


<table>
  <thead>
  <th>Points</th>
  <th>Date</th>
  </thead>

  <tbody>
  <tr *ngFor="#h of history" (click)="onSelect(h)">
    <t>{{h.gamePoints}}</t>
    <td>{{h.createdAt}}</td>
  </tr>
  </tbody>
</table>


<div *ngIf="breakdown">
  <table>
    <thead>
    <th>Word</th>
    <th>Correct answer</th>
    </thead>

    <tbody>
    <tr *ngFor="#b of breakdown">
      <td>{{b.questionId.value}}</td>
      <td>{{b.correct}}</td>
    </tr>
    </tbody>


  </table>
</div>

