<div class="row">
  <div class="one-half column">
    <h5>Your top scores:</h5>


    <table>
      <thead>
      <th>Points</th>
      <th>Date</th>
      </thead>

      <tbody>
      <tr [myHighlight] *ngFor="let h of history" (click)="onSelect(h)">
        <td>{{h.gamePoints}}</td>
        <td>{{h.createdAt | date:"dd/MM/yyyy"}}</td>
      </tr>
      </tbody>
    </table>

    <div [hidden]="!gameSelected">
      <table>
        <thead>
        <th>Word</th>
        <th>Correct answer</th>
        </thead>

        <tbody>
        <tr [class.correct]="b.correct" [class.incorrect]="!b.correct" *ngFor="let b of breakdown">
          <td>{{b.questionId.value}}</td>
          <td>{{b.correct}}</td>
        </tr>
        </tbody>


      </table>
    </div>

  </div>

  <div class="one-half column">

    <h5>High scores:</h5>


    <table>
      <thead>
      <th>Points</th>
      <th>Contender</th>
      </thead>

      <tbody>
      <tr *ngFor="let hs of highScores">
        <td>{{hs.gamePoints}}</td>
        <td>{{hs.contenderId.name}}</td>
        <td><img src="{{hs.contenderId.pictureUrl || 'images/unknown_user.png'}}" alt="profile picture" height="25px" width="25px"/></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>



