<div class="row">
  <div class="one-third column">
    <h5>Edit or delete words that you added</h5>
    <ul class="words">
      <form [formGroup]="adminForm"><input formControlName="searchField" placeholder="Start typing the word"></form>
      <li *ngFor="let word of words" (click)="onSelect(word)">
        <span [myHighlight] class="badge">{{word.value}}</span>
        <button class="delete-button" (click)="onDelete(word, $event)">Delete</button>
      </li>
    </ul>

    <word-update [word]="selectedWord"></word-update>

  </div>

  <div class="two-thirds column">
    <word-add></word-add>
  </div>
</div>

<div class="row">
  <settings></settings>
</div>

<notification></notification>