<!-- columns should be the immediate child of a .row -->
<div class="row">
  <div class="one-third column">
    <h5>Find/edit/delete existing words</h5>
    <ul class="words">
      <form [ngFormModel]="coolForm"><input ngControl="search" placeholder="Start typing the word"></form>
      <li *ngFor="let word of words" (click)="onSelect(word)">
        <span [myHighlight] class="badge">{{word.value}}</span>
        <button class="delete-button" (click)="onDelete(word, $event)">Delete</button>
      </li>
    </ul>

    <my-word-detail [word]="selectedWord"></my-word-detail>

  </div>

  <div class="two-thirds column">
    <word-add></word-add>
  </div>
</div>


<div class="row" *ngIf="settings">

  <ul>
    <label  for="questionsNumber">Number of questions in the game - valid when in practice mode</label>
    <li [class.disabled]="!settings.practiceMode">Number of questions <input [disabled]="!settings.practiceMode"  id="questionsNumber" [(ngModel)]="settings.questionsNumber"/></li>

    <label for="practiceMode">When selected, enables open ended game, with your own words only</label>
    <li>Practice mode <input id="practiceMode" type="checkbox" [(ngModel)]="settings.practiceMode"/></li>
    <!--<li>Only previously incorrectly guessed words <input type="checkbox" [(ngModel)]="settings.onlyHard"/></li>-->

    <button class="update-button" (click)="onSave(settings)">Save</button>

  </ul>

</div>

<div class="row" *ngIf="languages.length">

<h3>Pick a language</h3>
<select class="form-control" [(ngModel)]="selectedWorkout" (ngModelChange)="updateUser($event)">
    <option *ngFor="let language of languages" value="{{language.value}}">{{language.name}}</option>
</select>

</div>

<notification></notification>